html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

.app-container {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  position: relative;
  background-color: #f0f0f0;
  /* Light background for contrast */
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

.loading-container {
  color: #fff;
  text-align: center;
}